{% extends "base.html" %}
{% block content %}
    <h1 class="text-2xl font-bold mb-4">Edit Profile</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" enctype="multipart/form-data">
        <!-- edit profile picture-->
        <div class="max-w-xs">

            <img title="Profile Picture" src="/{{UPLOAD_FOLDER}}/{{user.profile_picture }}" class="mb-4">
        </div>
        <input type="file" placeholder="/placeholder.jpg" name="profile_picture" class="mb-4">
       
        <input type="text" 
               name="username" 
               pattern="[a-zA-Z0-9]+" 
               title="Username can only contain letters and numbers without spaces"
               value="{{ user.username }}" 
               class="w-full p-2 mb-4 border rounded">
        <input type="text" name="firstName" placeholder="First Name" value="{{ firstName }}" class="w-full p-2 mb-4 border rounded">
        <input type="text" name="lastName" placeholder="Last Name" value="{{ lastName }}" class="w-full p-2 mb-4 border rounded">
        <textarea name="bio" placeholder="Your bio" class="w-full p-2 mb-4 border rounded">{{ user.bio }}</textarea>
        <input type="text" name="location" placeholder="Location" value="{{ user.location }}" class="w-full p-2 mb-4 border rounded">
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Save Changes</button>
    </form>
{% endblock %}